body {
  background-color: #1B1B1B !important;
  color: rgb(239, 224, 190);
}

.jumbotron {
  background-color: transparent !important;
}

a {
  color: rgb(255, 193, 44) !important
}

.form-control {
  color: rgb(239, 224, 190) !important;
  background-color: transparent !important;
  border: 1px solid rgb(239, 224, 190) !important;
}

.form-control:focus {
  color: #fff !important;
  background-color: gray !important;
  border-color: rgb(255, 193, 44) !important;
  box-shadow: 0px 0px 0px 0.2rem grey !important;
}

.input-group-text {
  background-color: rgb(239, 224, 190) !important;
}

.badge-info {
  background-color: rgb(255, 193, 44) !important;
}

.text-muted {
  color: gray !important;
}

.alert-secondary {
  color: rgb(255, 193, 44) !important;
  background-color: transparent !important;
  border-color: rgb(239, 224, 190) !important;
}

.btn-primary,
.btn-light,
.btn-light:hover .btn-primary:hover {
  color: #000 !important;
  background-color: rgb(255, 193, 44) !important;
  border-color: #d39e00 !important;
}

.btn-primary:hover,
.btn-light:hover {
  box-shadow: 0px 0px 0px 0.2rem rgba(255, 193, 44, 0.5) !important;
}

.card {
  background-color: transparent !important;
  border: 1px solid rgb(239, 224, 190) !important;
}
